<div class = "text-color-1 text-font-medium justify-content small-padding">
	<span class = "paragraph">
		<span>Welcome! My name is Tudor Gheorghe and I am currently a <span class="text-color-3">Unity Developer</span> working as a Lead at <span class="text-color-3">West Pier Studio.</span></span>
		<br/>
	</span>

	<span class = "paragraph">
		<span>My view on development is that taking the initiative to improve things is a great way to develop yourself as well. I am very enthustiastic about gettings things done in time, as it leads to a sense of accomplishment that I believe is the most exciting part about development.</span>
	</span>

	<span class = "paragraph">
		<span>I enjoy writing clean and elegant code, helping others achieve the same thing and improving my own approach by taking in knowledge from the people I work with. </span>
	</span>

	<span class = "paragraph">
		<span>I will often seek to improve my own skills where possible, as learning about new technologies is not only fun, but it often leads to making tedious processes faster. Similarly, I am a big fan of writing editor tools to automate manual processes.</span>
	</span>

	<span class = "paragraph">
		<span>Negociating with clients has improved my ability to give estimates to tasks and to quickly identify any possibly risks, having been in the product cycle of several applications.</span>
	</span>

	<div class="medium-br"></div>
</div>

<div class = "header-font text-color-1 text-font-big line"> Education </div>
<div class = "center-text text-color-1 text-font-medium small-padding"> 
	<span class = "paragraph">
		<span>BSc Computer Games at <a class="link-colour expand-on-hover" href = "https://www.essex.ac.uk/courses/ug00066/1/bsc-computer-games" target="_blank">University of Essex</a>.</span>
		<div class="small-br"></div>
		<a href = "https://www.essex.ac.uk/courses/ug00066/1/bsc-computer-games" target="_blank" style="text-decoration: none;display: inline-block;width:30%">
			<img class="expand-on-hover" width="100%" height="auto" src="../Images/_Symbols/essex_university.png" style="border: 2px solid #000000">
		</a>
		<br/>
		<span>Graduation Grade: <span class="text-color-3">85</span></span>
		<br/>
		<span>The KF Bowden Memorial Prize (1st and 2nd year)</span>
		<br/>
		<span>The British Computer Society Prize (3rd year)</span>
		
		<div class="medium-br"></div>
	</span>
</div>

<div class = "header-font text-color-1 text-font-big line"> Experience </div>
<div class = "text-color-1 text-font-medium justify-content small-padding">
	<div class="small-br"></div>
	<span class = "paragraph">
		<span class = "text-color-3">C# - Professional</span>
		<br/>
		<span>3 years of accumulated industry knowledge, including taking part in the release of 2 products and the maintenance of an existing product.</span>
		<br/>
	</span>
	
	<span class = "paragraph">
		<span class = "text-color-3">Javascript - Acceptable</span>
		<br/>
		<span>Experience from tasks related to frontend and small bits here and there from setting up my portfolio.</span>
		<br/>
	</span>

	<span class = "paragraph">
		<span class = "text-color-3">C++/Java</span>
		<br/>
		<span>Surface level knowledge.</span>
		<br/>
	</span>
	
	<div class="medium-br"></div>
</div>

<div class = "header-font text-color-1 text-font-big line"> Additional </div>
<div class = "text-color-1 text-font-medium justify-content small-padding">
	<div class="small-br"></div>
	<span class = "paragraph">
		<span class = "text-color-3">Recruitment</span>
		<br/>
		<span>I have been the main recruitment force for 2 years at my current company. This includes reviewing technical applications and performing interviews.</span>
		<br/>
	</span>
	
	<span class = "paragraph">
		<span class = "text-color-3">Employee Mentorship</span>
		<br/>
		<span>Helping new employees get up to speed. Managing their tasks, offering guidance and code review via pull requests.</span>
		<br/>
	</span>

	<span class = "paragraph">
		<span class = "text-color-3">Project Management</span>
		<br/>
		<span>Assigning deadlines for ongoing features from the client and assigning them to my team. Writing documentation for processes such as code standards.</span>
		<br/>
	</span>
	
	<div class="medium-br"></div>
</div>

<div class = "header-font text-color-1 text-font-big line"> Bonuses </div>
<div class = "center-text text-color-1 text-font-medium small-padding">
	<span class = "paragraph">
		<ul>
			<li> Version Control </li>
			<li> Agile Background </li>
			<li> Unity Debugging </li>
			<li> Code Reviews </li>
			<li> API Requests </li>
			<li> Editor Tools </li>
		</ul>
	</span>
</div>