<div class = "center-text text-color-1 text-font-medium">
	<span class="paragraph">
		<span>Hope you are enjoying my website! If you want to contact me: </span>
		<br>
		<span>Email me at <span class="text-color-3">mr.tudor.gheorghe@gmail.com</span></span>
		<br>
		<span>Message me on <span class="text-color-3">07923 272346</span></span>
		<br>
		<span>Contact me on <a class="link-colour expand-on-hover" href="https://www.linkedin.com/in/tudor-gheorghe/" target="_blank">LinkedIn</a></span>
		<br>
		<span>My code is available on <a class="link-colour expand-on-hover" href="https://bitbucket.org/tudor8/" target="_blank">Bitbucket</a></span>
	</span>

	<span class="paragraph">
		<span class="header-font text-font-big">Resume</span>
		<br>

		<span><a class="link-colour expand-on-hover" href = "../Download/Resume.pdf" target="_blank">View Online</a></span>
		<div class="small-br"></div>
		
		<a href = "../Download/Resume.pdf" target="_blank" style="text-decoration: none;display: inline-block;width:20%;">
			<img class="expand-on-hover" width="100%" height="auto" src="../Images/_Symbols/pdf_document.png" credit="Jozef Krajčovič, https://www.iconfinder.com/icons/272699/pdf_icon">	
		</a>
		<br/>

		<span><a class="link-colour expand-on-hover" href = "../Download/Resume.pdf" target="_blank" download>Download</a></span>
	</span>
</div>
