<div class="list-object-wrapper expand-on-hover main-color background-color-2">
	<img class="list-image" src="Images/"></img>
	<span class="list-title text-color-1 text-font-medium header-font"></span>
	<span class="list-sub-title text-color-2 text-font-medium"></span>
	<span class="list-description text-color-1 text-font-medium"></span>
</div>