<button class="custom-button text-color-1 back-button text-font-small expand-on-hover" onClick="goBack()"> Back</button>

<div id = "content-title" class = "header-font line text-color-1 text-font-big small-top-offset"> </div>

<div>
	<div id = "image-view"> 
		<button id = "left-arrow" class="arrow" onclick="prev()"> </button>
		<div class = "responsive-video">
			<div class = "video-container">
				<image id = "image-showcase"> </image>
			</div>
		</div>
		<button id = "right-arrow" class="arrow" onclick="next()"> </button>
	</div>
	<div id = "quick-links" class="paragraph"> 
	</div>
</div>
<br>

<div class = "header-font line text-color-1 text-font-big"> Technologies Used </div>
<div id = 'content-technology'  class = "center-all text-color-1 text-font-medium"> </div>
<br>

<div class = "header-font line text-color-1 text-font-big"> Description </div>
<div id = 'content-description' class = "text-color-1 text-font-medium justify-content small-padding"> </div>
<br>

<div class = "header-font line text-color-1 text-font-big"> Links </div>
<div class = "paragraph center-text"> 
	<a id = "project-button" class="custom-button text-color-1 text-font-medium expand-on-hover" href = "" target="_blank">Code Repo</a>
	<div class="empty-line"></div>
</div>