.text-color-1 {
	color: white;
}

.text-color-2 {
	color: #80CCFF; /* blue */
}

.text-color-3 {
	color: #BADA55; /* green */
}

.background-color-1 {
	background-color: #222831e6;
}

.background-color-2 {
	background-color: #404b67;
}

.background-color-3 {
	background-color: #111317e6;
}

.text-font-title {
	font-size: calc(10px + 4vmin);
}

.text-font-big {
	font-size: calc(5px + 3vmin);
}

.text-font-medium {
	font-size: calc(5px + 1.4vmin);
}

.text-font-small {
	font-size: calc(5px + 1vmin);
}

.justify-content {
	text-align: justify;
	text-align-last: left;
}

.empty-line {
	height: 30px;
}

.tab {
	margin-left: 4em;
}

.center-text {
	text-align: center;
}

.small-top-offset {
	margin-top: 12px;
}

.small-br {
	width: 100%;
	height: 6px;
}

.medium-br {
	width: 100%;
	height: 10px;
}

@media screen and (max-width: 768px) {
}