#navigation-container {
    text-align: center;
    z-index: 1;
}

.dropdown-container-container {
    width : 90vmin;
    height: calc(6vmin + 10px);
    text-align: center;
    margin:0 auto;   
}

.dropdown-container {
    font-size: 0;
    width: 100%;
    height: 100%;
}

.dropdown:hover .dropdown-content {
    height:100%;
}
 
.dropdown {
    position: relative; 
    display: block;
    margin:0 auto;
    font-size: 1rem;
    width: calc(100% / 4);
    height:100%;
    border-style: solid;
    float:left;
}

.dropdown-button {
    height: 100%;
    width: 100%; 
    cursor: pointer;
    transition: background-color .2s;
}

.dropdown-button:hover, .dropdown-content button:hover {
    background-color: #171b21e6;
}

.dropdown-button:focus {
    outline:0;
}

.dropdown-content-container {
    position: absolute;
    width: 100%;
    pointer-events: none !important;
}

.dropdown-content-container * {
    pointer-events: auto;
}

.dropdown-content {
    display: block;
    position: absolute;
    width: 100%; 
    height:0%;
    z-index: 1;
    overflow: hidden;
    transition: height 0.2s;
    z-index: 100;
}

.dropdown-content button {
    text-decoration: none;
    display: block;
    height: calc(6vmin + 10px);
    line-height: calc(6vmin + 10px);
    width: 100%;
    cursor: pointer;
}

.button-highlighted {
    background-color: #111317e6 !important;
}

#toggle {
	display: none;
	position: relative;
	float: right;
	width:50px;
	height: 50px;
	background-color: gray;
}

/* Underline */
button:hover .underline-on-hover:before {
  visibility: visible;
  width: 100%;
}

.underline-on-hover {
    position: relative;
}

.underline-on-hover:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-image: linear-gradient(to right, red , yellow);
    visibility: hidden;
    transition: all 0.15s ease-in-out;
}

/* For mobile phones: */
@media screen and (max-width: 768px) , screen and (max-height: 700px) { 
	.dropdown-content {
        display: none;
    }
    .dropdown-button:hover, .dropdown-content button:hover {
        background-color: initial;
    }
}