@font-face {
  font-family: LeagueSpartan;
  src: url(../Fonts/LeagueSpartan-Bold.otf);
}

@font-face {
  font-family: OpenSans;
  src: url(../Fonts/OpenSans-Regular.ttf);
}

.header-font, .header-font * { 
	font-family: LeagueSpartan;
}