.list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

.list-object-wrapper {
	width: 31.3%;
	height: calc(36vmin + 20px);
	margin: 1%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	border-bottom: solid 6px #2f364a;
}

.list-object-wrapper:hover {
	background-color: #626d8a;
	border-bottom: solid 6px #42495a;
}

.list-image {
	width: 94%;
	height: auto;
	margin: 3%;
	margin-bottom: 0%;
}

.list-title {
	margin-top: 4px;
}

.list-sub-title {
	margin-top: -4px;
}

.list-description {
	font-family: open sans;
}

/* For mobile phones: */
@media screen and (max-width: 768px), screen and (max-height: 700px) {
	.list-object-wrapper {
		width: 45%;
		height: calc(50vmin + 20px);
	}
}

@media screen and (max-width: 350px) {
	.list-object-wrapper {
		width: 45%;
		height: calc(52.5vmin + 20px);
	}
}