#image-view {
	display:flex;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
}

#quick-links {
	display: flex;
	justify-content: center;
	align-items: center;
}

.center-all {
	display: flex;
	justify-content: center;
	align-items: center;
}

#content-description {
	margin: 0 auto;
}

#content p {
	text-align: center;

}

.line {
	border-bottom: 2px solid white; 
	width: 90%;
	text-align: center;
	margin:0 auto;
}

#left-arrow {
	transform: rotate(135deg);
	transition: transform .2s, background-color .2s;;
	border-width: 30px !important;
	border-color: rgba(0%, 0%, 0%, 0.0) #404b67 #404b67 rgba(0%, 0%, 0%, 0.0);
	margin-right: -15px;
	top:0px;
	left:0px;
	background-color: transparent;
}

#right-arrow {
	transform: rotate(315deg);
	transition: transform .2s, background-color .2s;;
	border-width: 30px !important;
	border-color: rgba(0%, 0%, 0%, 0.0) #404b67 #404b67 rgba(0%, 0%, 0%, 0.0);
	margin-left: -15px;
	top:0px;
	left:0px;
	background-color: transparent;
}

#left-arrow:hover {
	transform: rotate(135deg) scale(1.05);
	cursor:pointer;
	border-color: rgba(0%, 0%, 0%, 0.0) #626d8a #626d8a rgba(0%, 0%, 0%, 0.0);
}

#right-arrow:hover {
	transform: rotate(315deg) scale(1.05);
	cursor:pointer;
	border-color: rgba(0%, 0%, 0%, 0.0) #626d8a #626d8a rgba(0%, 0%, 0%, 0.0);
}

.responsive-video {
	width: 60%;
	max-width: 700px;
	display: flex;
	flex-direction: column;
  	justify-content: center;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	background-color: black;
}

.video-container iframe, .video-container object, .video-container embed, .video-container #image-showcase {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#image-showcase {
	display: none;
}

.image-button {
	border-radius: 2em;
	width: 2em;
	height: 2em;
	text-align: center;
	border-bottom: 3px solid #2f364a;
	margin: 0px 4px;
}

.image-button:hover {
	background-color: #626d8a;
	border-bottom: solid 3px #42495a;
}

.project-image-highlighted { 
	background-color: #242b3c !important;
    border-bottom: solid 3px #191e2b !important;
}

.technology-image {
	width: 25px;
	height: 25px;
}

.back-button {
	position: absolute;
	margin-left: 5px;
	margin-top: -5px;
}

.custom-button {
	padding: 0.5em 1em;
	background-color: #404b67;
	border-bottom: solid 6px #2f364a;
	font-family: LeagueSpartan;
}

.custom-button:hover {
	background-color: #626d8a;
	border-bottom: solid 6px #42495a;
}

#project-button {
	text-decoration: none;
	display: inline-block;
}

@media screen and (max-width: 768px) , screen and (max-height: 700px) {
	.back-button {
		margin-top: 0px;
	}
}