body {
	background-color: black;
	height:100vh;
}

#title {
	box-sizing: border-box; 
	height: calc(12vmin + 15px);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/*Contains the current and other contents*/
#content-container {
	height: calc(100vh - (22vmin + 25px));
	width : 90vmin;
	margin: 0 auto;
	pointer-events: none !important;
	overflow: hidden;
	white-space: nowrap;
	font-size: 0;
	padding-right: 2px;
	box-sizing: border-box;
}

.content {
	width : calc(100% - 10px);
	height: 0%;
    display: inline-block;
    margin: 0 auto;
    overflow: auto;
    white-space: normal;
    position:relative;
    overflow-y: hidden;
    transition: height .5s, margin-left .5s;
    will-change: height, margin-left;
    padding-right: 10px;
}

#content-primary {
	float:left;
}

#content-secondary {
	border-right: 2px solid #222831e6;
}

/*Overlay is a screen wide container that hides the UI when clicked on*/
#overlay {
	position: absolute;
	display: none;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:-1;
	background-color: rbga(0, 0, 0, 0.5);
}

#loader {
	width: 100%;
	height:100%;
	background-color: black;
	z-index:100000;
	position:absolute;
	top:0px;
	display: flex;
	justify-content: center;
	align-items:center;
	flex-direction: column;
}

.loader {
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 15vmin;
	max-width: 50px;
	height: 15vmin;
	max-height: 50px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*Interface is the highest container for all UI*/
#interface {
	position: absolute;
	display: block;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:2;
	height: 100vh;
	background-color: rbga(0, 0, 0, 0.5);
	pointer-events: none;
}

#interface * {
	pointer-events: auto;
}

.paragraph {
	display: block;
	padding:7px;
}

.center-paragraph {
	display: block;
	margin: auto;
}

.arrow {
    position: relative;
    border-style: solid;
    border-color: rgba(0%, 0%, 0%, 0.0) white white rgba(0%, 0%, 0%, 0.0);
    border-width: 5px 5px 5px 5px;
    display: inline-block;
    padding: 0px;
    top: -4px;
    left: 2px;
    border-radius: 2px;
}

.down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.left {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

.right {
	transform: rotate(315deg);
	-webkit-transform: rotate(315deg);
}

.link-colour:link {
  color: #7c91c7;
}

.link-colour:visited {
  color: #7c91c7;
}

.link-colour:hover {
  color: #566488;
}

.link-colour:active {
  color: #7c91c7;
}

/* Three JS */
#container {
	width : 100%; 
	height: 100%; 
	background-color: #00040a;
	z-index:0;
}

/* Mobile Phones: */
@media screen and (max-width: 768px) , screen and (max-height: 700px) {
	.arrow {
		display: none;
	}
	.content {
		width : 100%;
	    padding-right: 0px;
	    overflow: auto;
	}
}